*{
margin: 0;
padding: 0;
font-family: sans-serif;
}
.main{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0,0,0,0.75)50%, rgba(0,0,0,0.75)50%), url(2.jpg);
    background-size:cover;
    background-position: center;
}
.mac{
    width: auto;
    height: auto;
    background-image: linear-gradient(to top, rgba(0,0,0,0.75)50%, rgba(0,0,0,0.75)50%), url(3.jpg);
    background-size:cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.logo{
    color: aliceblue;
    font-size: 35px;
    font-family: Brush Script MT;
    padding-left: 20px;
    float: left
    padding-top:10px;
    width: 120px;
    cursor:pointer;
}
.navbar ul li{
    list-style: none;
    display: flex;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0px;
    background: #009688;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content1{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-family: Lucida Calligraphy;
    color: whitesmoke;
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    font-family: Comic Sans MS;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.wrapper {overflow: auto;}


#menulist {
  margin: 0;
  padding: 25px 50px;
  column-count: 4;
  zoom: 100%;
}

.menuitem {
width: auto;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.content h2{
    font-family: Comic Sans MS;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: #009688;
}
@media screen and (min-width: 480px) {
  #mac {margin-left: 216px;}
}

a {
    color: #828282;
    font-style: italic;
}

a:hover {
    color: #fff;
}
